* {
    margin: 0;
}

body {
    background-image: url('https://d5wn5sd3xupzm.cloudfront.net/animaroll/item/image/normal/4d8a997f-a5dc-4409-98ef-b45533056ca0.jpg');
    background-size: 102rem;
}

div .box {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div .botoes {
    display: flex;
    gap: 5px;
}

span {
    font-size: 8rem;
}

button {
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;
    width: 8;
    font-weight: 600;
    cursor: pointer;
    
}

button:hover {
    background-color: rgb(46, 46, 46);
}

.botao {
    width: 2.2rem; 
    border-radius: 50%;
}